:root {
  --white: #fff;
  --lightest: #ddd;
  --light: #bbb;
  --medium: #999;
  --dark: #666;
  --darkest: #111;
  --black: #000;
  --brand: #164;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000;
    --lightest: #222;
    --light: #444;
    --medium: #999;
    --dark: #ccc;
    --darkest: #eee;
    --black: #fff;
    --brand: #2db;
  }
}

body {
  background: var(--lightest);
  color: var(--darkest);
  /* From https://github.com/twbs/bootstrap/blob/15744ee1d04bcca03155c3bb37ee7e65a7b011c6/scss/_variables.scss#L597 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  line-height: 1.5;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 43.25rem;

  > header {
    padding: 1rem 0;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1rem;
    column-gap: 4rem;
    border-bottom: 2px solid var(--light);
  
    > h1 {
      font-size: 1.25rem;
      font-weight: normal;
      margin: 0;
      > a {
        color: var(--darkest);
        text-decoration: none;
      }
    }
  
    > nav > ul {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      column-gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
      > li > a {
        padding: 0.5rem 0;
      }
    }
  }  

  > footer {
    margin-top: 8rem;
    > ul {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      column-gap: 2rem;
      list-style-type: none;
      margin: 0 0 1rem 0;
      padding: 0;
    }
  }
}

a {
  color: var(--brand);
  text-decoration-color: var(--medium);
  &:hover {
    text-decoration-color: var(--dark);
  }
}

pre {
  padding: 1rem;
  overflow: auto;
}

kbd, code {
  /* From https://github.com/twbs/bootstrap/blob/15744ee1d04bcca03155c3bb37ee7e65a7b011c6/scss/_variables.scss#L598 */
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

kbd {
  border: 1px solid var(--medium);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

hr {
  border: 1px solid var(--light);
}

header h2 {
  font-weight: normal;
}

.post {
  margin-bottom: 8rem;

  > header h2 {
    font-weight: bold;
    margin-bottom: 0;
    > a {
      color: var(--darkest);
    }
  }
}

.post-date {
  color: var(--dark);
}

.footnote-reference {
  vertical-align: top;
  > a {
    padding: 0 0.2rem;
  }
}

.footnote-definition {
  display: flex;
}

.footnote-definition-label {
  vertical-align: baseline;
  font-size: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-end: 0.5rem;
  &::after {
    content: ". ";
  }
}

/* Projects page */

.grid-list-wrapper > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;

  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {
    padding: 1.5rem;
    border: 2px solid var(--light);

    h3 {
      margin-top: 0;
    }
  }
}
