:root {
  --gb-bg: #f5f1e1;
  --gb-hl: #e1d8b3;
  --gb-ln: #9d9b9a;
  --gb-fg: #3c3836;
  --gb-gt: #3c3836;

  --gb-red: #9d0006;
  --gb-orange: #af3a03;
  --gb-yellow: #b57614;
  --gb-green: #79740e;
  --gb-aqua: #427b58;
  --gb-blue: #076678;
  --gb-purple: #8f3f71;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gb-bg: #282828;
    --gb-hl: #3d3d3d;
    --gb-ln: #756d59;
    --gb-fg: #ebdbb2;
    --gb-gt: #fb4934;

    --gb-red: #fb4934;
    --gb-orange: #fe8019;
    --gb-yellow: #fabd2f;
    --gb-green: #b8bb26;
    --gb-aqua: #8ec07c;
    --gb-blue: #83a598;
    --gb-purple: #d3869b;
  }
}

.bg,
.chroma {
  color: var(--gb-fg);
  background-color: var(--gb-bg);
}

.chroma {
  /* Colors from schema */
  .hl {
    background-color: var(--gb-hl);
  }

  .ln,
  .lnt {
    color: var(--gb-ln);
  }

  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .o,
  .ow {
    color: var(--gb-orange);
  }

  .kt,
  .nb,
  .ni,
  .nf {
    color: var(--gb-yellow);
  }

  .na,
  .dl,
  .s,
  .s1,
  .s2,
  .sa,
  .sb,
  .sc,
  .sd,
  .se,
  .sh,
  .si,
  .sr,
  .sx,
  .gh,
  .gu {
    color: var(--gb-green);
  }

  .nl,
  .nt,
  .gd {
    color: var(--gb-red);
  }

  .ss,
  .ge {
    color: var(--gb-blue);
  }

  .il,
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo {
    color: var(--gb-purple);
  }

  .cp,
  .cpf {
    color: var(--gb-aqua);
  }

  .gr {
    background-color: var(--gb-red);
  }

  .gi {
    background-color: var(--gb-green);
  }

  .gt {
    background-color: var(--gb-gt);
  }

  /* Other colors */
  .c,
  .c1,
  .ch,
  .cm,
  .cs {
    color: #928374;
  }

  .go {
    color: #504945;
  }

  .gi {
    color: #282828;
  }

  .no {
    color: #d3869b;
  }

  .ne {
    color: #fb4934;
  }

  /* Other styles */
  .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
  }

  .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .ln,
  .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
  }

  .line {
    display: flex;
  }

  .c,
  .c1,
  .ch,
  .cm,
  .cs,
  .cpf {
    font-style: italic
  }

  .ge {
    text-decoration: underline
  }

  .na,
  .gr,
  .gh,
  .gu,
  .gt {
    font-weight: bold;
  }
}
