:root {
  --base: 1.625rem;
  --search-icon: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");

  --logo-bg: #ADCF91;
  --logo-fg: #203A38;

  --figure-bg: #f5f1e1;

  --lightest: #fffcf6; /* background */
  --light: var(--logo-bg); /* line */
  --dark: color-mix(in srgb, var(--darkest), var(--brand) 50%); /* light words */
  --darkest: var(--logo-fg); /* words */
  --brand: #0F7554;
}

@font-face {
  font-family: NationalPark;
  src: url("/fonts/NationalPark-VariableVF.woff2") format("woff2");
  font-weight: 200 800;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-2.304/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-2.304/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-2.304/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-2.304/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --lightest: var(--logo-fg);
    --light: #0F7554;
    --darkest: #DEDDCE;
    --brand: var(--logo-bg);
    --figure-bg: #282828;
  }
}

body {
  background: var(--lightest);
  color: var(--darkest);
  font-family: system-ui, sans-serif;
  line-height: var(--base);
  padding: 0 calc(var(--base) / 2) var(--base) calc(var(--base) / 2);
  margin: 0 auto;
  max-width: calc(var(--base) * 25);
  text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;

  &:has(#show-lines:checked) {
    background: linear-gradient(
      to bottom,
      var(--light),
      var(--light) 3%,
      var(--lightest) 3%,
      var(--lightest)
    );
    background-size: 100% var(--base);
  }
}

::selection {
  color: var(--lightest);
  background-color: var(--brand);
}

body>header {
  margin-bottom: calc(var(--base) * 3);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  column-gap: calc(var(--base) * 2);

  #author {
    font-family: NationalPark, system-ui, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.07em;
    margin: 0;

    a {
      background-color: var(--logo-bg);
      color: var(--logo-fg);
      padding: var(--base) 0;
      width: 220px;
      display: block;
      text-align: center;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--logo-fg);
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: calc(var(--base) * .5);
    list-style-type: none;
    margin: 0 0 0 calc(var(--base) * -.5);
    padding: 0;

    a {
      display: inline-block;
      color: var(--darkest);
      padding: calc(var(--base) * .5);

      &[aria-current="page"] {
        color: var(--dark);
      }

      &.search-nav {
        display: block;
        width: var(--base);
        text-indent:-99999rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: var(--base);
          height: var(--base);
          background-color: var(--dark);
          mask: var(--search-icon) center no-repeat;
        }

        &:hover {
          outline: 2px solid var(--light);
        }
      }
    }
  }
}

body>footer {
  margin-top: calc(var(--base) * 6);

  ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--base);
    column-gap: calc(var(--base) * 1.25);
    list-style-type: none;
    margin: 0 0 var(--base) 0;
    padding: 0;
  }

  &>div {
    margin: var(--base) 0;
  }

  a {
    color: var(--darkest);
  }
}

article {
  margin-bottom: calc(var(--base) * 6);

  &>header {
    margin-bottom: var(--base);

    h1, h2 {
      font-size: 1.5rem;
      margin-bottom: calc(var(--base) / 2);
    }

    a {
      color: var(--darkest);
    }

    time {
      display: block;
      color: var(--dark);
      line-height: calc(var(--base) / 2);
    }
  }
}

main {
  h1, h2, h3, h4 {
    font-family: NationalPark, system-ui, sans-serif;
    font-weight: 500;
    margin: var(--base) 0;

    a:has(svg) {
      display: inline-flex;
      align-items: baseline;
      column-gap: 0.5rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2:not(#home-main *), #home-main h3 {
    font-size: 1.175rem;
    color: var(--dark);
    position: relative;
    top: calc(var(--base) / 2);
  }

  h3:not(#home-main *), #home-main h4 {
    font-size: 1rem;
    color: var(--dark);
    margin: var(--base) 0 0 0;
  }
}

p {
  margin: 0;
}

p + p {
  text-indent: calc(var(--base) * 1.5);
}

ul, ol, figure {
  margin: var(--base) 0;
}

ul, ol {
  padding-left: calc(var(--base) * 1.5);
}

ul {
  list-style-type: square;
}

figure {
  margin: var(--base) 0;
  background: var(--figure-bg);
  padding: calc(var(--base) / 2) var(--base);

  &>img {
    display: block;
  }

  figcaption {
    font-size: 0.875rem;
  }
}

figure.codeblock {
  background: var(--light);
  padding: 0;

  &.wide {
    width: calc(var(--base) * 30);
    max-width: calc(100vw - var(--base));
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  figcaption {
    padding: 0 var(--base);
    font-family: NationalPark, system-ui, sans-serif;
    font-weight: 500;
    color: var(--dark)
  }

  pre {
    margin: 0;
    padding: calc(var(--base) / 2) var(--base);
    padding-bottom: 0;
    overflow: auto;
    scrollbar-width: thin;
  }
}

figure.youtube {
  background: none;
  padding: 0;

  &>div {
    position: relative;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--base);

    &>span {
      font-family: NationalPark, system-ui, sans-serif;
      font-size: 1rem;
      padding: calc(var(--base) / 4) calc(var(--base) / 2);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      background-color: var(--lightest);
    }
  }

  .title {
    font-weight: 500;
  }

  img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

a {
  color: var(--brand);
  text-decoration-thickness: 2px;
  text-decoration-color: var(--light);

  &:hover {
    text-decoration-color: var(--brand);
  }
}

samp {
  display: block;
  margin: var(--base) 0;
  padding: 0 var(--base) 0 calc(var(--base) - 2px);
  border-left: 2px solid var(--light);
  white-space: pre-wrap;
}

kbd,
code,
samp,
.codeblock figcaption.name,
.goat>svg,
.pagefind-ui__result-tags,
time {
  font-family: "JetBrains Mono", monospace;
  font-variant-ligatures: none;
  font-size: 0.9em;
}

:not(pre)>code {
  line-height: 1;
}

kbd {
  border: 1px solid var(--light);
  padding: 0.25rem;
}

hr {
  border: 1px solid var(--light);
  margin: calc(var(--base) * 2 - 1px) 0;
}

sup {
  vertical-align: top;
}

.footnote-ref {
  padding: 0 0.2rem;
}
