#projects-main {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: var(--base);
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: var(--base);
    padding-bottom: calc(var(--base) * 2);
    outline: 2px solid var(--light);
  }

  h2 {
    margin-top: 0;
  }
}
