#search-main {
  p {
    text-indent: 0;
  }

  ol, ul {
    list-style: none;
    padding: 0;
  }

  mark {
    color: var(--darkest);
    background: color-mix(in srgb, var(--lightest), var(--light) 50%);
  }

  .pagefind-ui__button {
    border: 0;
    outline: 2px solid var(--light);
    height: calc(var(--base) * 2);
    padding: 0 calc(var(--base) * 2);
    font-size: 1rem;
    color: var(--brand);
    background: transparent;
    cursor: pointer;
    
    &:hover {
      outline-color: var(--brand);
    }
  }
    
  .pagefind-ui__form {
    position: relative;

    &::before {
      background-color: var(--dark);
      width: var(--base);
      height: var(--base);
      top: calc(var(--base) / 2);
      left: calc(var(--base) / 2);
      content: "";
      position: absolute;
      display: block;

      mask: var(--search-icon) center no-repeat;
      z-index: 9;
      pointer-events: none;  
    }
  }

  .pagefind-ui__search-input {
    box-sizing: border-box;

    width: 100%;
    height: calc(var(--base) * 2);

    padding: 0 var(--base) 0 calc(var(--base) * 2);

    background-color: var(--lightest);
    outline: 2px solid var(--light);
    border: 0;

    font-size: 1rem;
  }

  .pagefind-ui__search-clear {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(var(--base) * 2);
    padding: 0 calc(var(--base) / 2);
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    border: 0;

    &.pagefind-ui__suppressed {
      display: none;
    }
  }

  .pagefind-ui__message {
    font-weight: bold;
    margin: var(--base) 0;
  }

  .pagefind-ui__result {
    margin: var(--base) 0 calc(var(--base) * 2) 0;
  }

  .pagefind-ui__result-title {
    order: 1;
  }

  .pagefind-ui__result-inner {
    display: flex;
    flex-direction: column;

    &>.pagefind-ui__result-title {
      font-family: NationalPark, system-ui, sans-serif;
      font-size: 1.13rem;
      font-weight: 500;
    }
  }

  .pagefind-ui__result-tags {
    order: 2;
    margin: 0;
  }

  .pagefind-ui__result-excerpt {
    order: 3;
  }

  .pagefind-ui__result-nested {
    order: 4;
    padding: calc(var(--base) / 2) 0 calc(var(--base) / 2) calc(var(--base) - 2px);
    border-left: 2px solid var(--light);
  }
}
