{{- $id := .Get "id" }}
{{- $title := .Get "title" }}
{{- $channel := .Get "channel" }}
{{- $image := .Page.Resources.Get (printf "%s.webp" $id) }}
{{- $url := printf "https://www.youtube.com/watch?v=%s" $id }}

<figure class="youtube">
<div>
<figcaption><a href="{{ $url }}">
<span><span class="title">{{ $title }}</span> by {{ $channel }} on YouTube</span>
</a></figcaption>
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Thumbnail for {{ $title }}">
</div>
</figure>
