{{- $id := .Get "id" }}
{{- $title := .Get "title" }}
{{- $channel := .Get "channel" }}
{{- $image := .Page.Resources.Get (printf "%s.webp" $id) }}
{{- $url := printf "https://www.youtube.com/watch?v=%s" $id }}

<a href="{{ $url }}" class="youtube">
<figure>
<figcaption>Watch <span class="title">{{ $title }}</span> by {{ $channel }} on YouTube</figcaption>
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Thumbnail for {{ $title }}">
</figure>
</a>
