<figure class="codeblock{{with .Attributes.wide}} wide{{end}}">
{{- with .Attributes.name }}
<figcaption class="name">{{ . }}</figcaption>
{{- end }}
{{- with .Attributes.title }}
<figcaption>{{ . }}</figcaption>
{{- end }}
{{- if transform.CanHighlight .Type }}
<pre role="document" tabindex="0" class="chroma" style="height: {{ .Inner | strings.Count "\n" | add 1.5 | mul 26 }}px"><code class="language-{{ .Type }}">
{{- with transform.HighlightCodeBlock . -}}
{{ .Inner }}
{{- end -}}
</code></pre>
{{- else }}
<pre role="document" tabindex="0"><code>{{ .Inner }}</code></pre>
{{- end }}
</figure>
