:root {
  --white: #fff;
  --lightest: #ddd;
  --light: #bbb;
  --medium: #999;
  --dark: #666;
  --darkest: #111;
  --black: #000;
  --brand: #164;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000;
    --lightest: #222;
    --light: #444;
    --medium: #999;
    --dark: #ccc;
    --darkest: #eee;
    --black: #fff;
    --brand: #2db;
  }
}

body {
  background: var(--lightest);
  color: var(--darkest);
  /* From https://github.com/twbs/bootstrap/blob/15744ee1d04bcca03155c3bb37ee7e65a7b011c6/scss/_variables.scss#L597 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
  line-height: 1.5;
}

#main-container {
  padding: 2em 0;
  margin: 0 auto;
  max-width: 43.25em;
}

#masthead {
  padding: 1em 0;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 1em;
  column-gap: 4em;
  border-bottom: 2px solid var(--light);
}

#masthead > h1 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
}

#masthead > h1 > a {
  color: var(--darkest);
  text-decoration: none;
}

#masthead > nav > ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  column-gap: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#masthead > nav > ul > li > a {
  padding: 0.5em 0;
}

a {
  color: var(--brand);
  text-decoration-color: var(--medium);
}

a:hover {
  text-decoration-color: var(--dark);
}

pre {
  padding: 1rem;
  overflow: auto;
}

kbd, code {
  /* From https://github.com/twbs/bootstrap/blob/15744ee1d04bcca03155c3bb37ee7e65a7b011c6/scss/_variables.scss#L598 */
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

kbd {
  border: 1px solid var(--medium);
  padding: 0.25em;
  border-radius: 0.25em;
}

hr {
  border: 1px solid var(--light);
}

.post {
  margin-bottom: 8em;
}

header h2 {
  font-weight: normal;
}

.post > header h2 {
  font-weight: bold;
  margin-bottom: 0;
}

.post > header h2 > a {
  color: var(--darkest);  
}

.post-date {
  color: var(--dark);
}

.footnote-reference {
  vertical-align: top;
}

.footnote-reference > a {
  padding: 0 0.2em;
}

.footnote-definition {
  display: flex;
}

.footnote-definition-label {
  vertical-align: baseline;
  font-size: medium;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-end: 0.5em;
}

.footnote-definition-label::after {
  content: ". ";
}

#main-container > footer {
  margin-top: 8em;
}

#main-container > footer > ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  column-gap: 2em;
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}

/* Projects page */

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-list > li {
  padding: 1.5em;
  border: 2px solid var(--light);
}

.project-list > li h3 {
  margin-top: 0;
}
