<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Forrest Jacobs{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <section id="main-container">
    <div id="masthead">
      <h1 id="title">
        <a href="{{ get_url(path='@/_index.md') }}" class="current">Forrest Jacobs</a>
      </h1>
      <nav>
        <ul>
          <li><a href="{{ get_url(path='@/_index.md') }}" class="current">Blog</a></li>
          <li><a href="{{ get_url(path='@/pages/projects.md') }}" class="current">Projects</a></li>
        </ul>
      </nav>
    </div>

    {% block content %}{% endblock %}

    <footer>
      <p>
        I’m also on <a rel="me" href="https://hachyderm.io/@forrestjacobs">Mastodon</a> and
        <a rel="me" href="https://github.com/forrestjacobs">GitHub</a>.
      </p>
      <a href="https://github.com/forrestjacobs/forrestjacobs.com/blob/main/LICENSE.txt">Copyright 2023 Forrest Jacobs</a>
    </footer>
  </section>
</body>

</html>
