<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{% block title -%}{{ config.title }}{% endblock title %}</title>
<link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{ config.description }}">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml') }}">
</head>

<body>
<header>
<h1><a href="{{ get_url(path='@/_index.md') }}">{{ config.title }}</a></h1>
<nav><ul>
  <li><a href="{{ get_url(path='@/_index.md') }}">Blog</a></li>
  <li><a href="{{ get_url(path='@/pages/projects.md') }}">Projects</a></li>
</ul></nav>
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>
<ul>
  <li><a rel="me" href="https://hachyderm.io/@forrestjacobs">Mastodon</a></li>
  <li><a rel="me" href="https://github.com/forrestjacobs">GitHub</a></li>
  <li><a href="{{ get_url(path='rss.xml') }}">RSS</a></li>
</ul>
<a href="https://github.com/forrestjacobs/forrestjacobs.com/blob/main/LICENSE.txt">Copyright 2023–2024 Forrest Jacobs</a>
</footer>
</body>
</html>
