<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Forrest Jacobs{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div id="main-container">
    {% block content %}{% endblock %}

    <div id="copyright">
      <a href="https://github.com/forrestjacobs/forrestjacobs.com/blob/main/LICENSE.txt">Copyright 2023 Forrest Jacobs</a>
    </div>
  </div>
</body>

</html>
